
<body class="cont d-flex justify-content-center" style="background-color: bisque;">
<div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin-top:100px ;
">
  <div class="card-header"> Types</div>
  <div class="card-body">

  <div class="container" >

<form method="post" action="/types/create">

  <label for="name" class="form-label">Name :</label><br>
  <input type="text" class="form-control" name="name"><br>


  <input type="submit" class="btn btn-primary" value="Submit" />
  
</form>
</div>

    
  </div>
</div>
</body>

