<div class="container" style="margin-top: 50px;">
<h1>quantity form</h1>

<form method="post" action="/quantities/create">

  <label for="name" class="form-label">Name :</label><br>
  <input type="text" class="form-control" name="name"><br>


  <input type="submit" class="btn btn-primary" value="Submit" />
  
</form>
</div>