
<body style="background-color: cadetblue;">
<h1 style=" margin-left: 40%;">Brand</h1>

<table class="table table-danger table-striped">
  <thead>
    <tr>
      <th>Name</th>
    
     
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr>
      <td><%= brand.name %> </td>
      
    
      <td><a href="/brands/<%= brand.id %>/edit">Edit</a></td>
      <td><a href="/brands/<%= brand.id %>/destroy">Delete</a></td>
      </tr>
    <% end %> 
  </tbody>
</table>
 

<a href="/brands/form" class="btn btn-outline-danger" role="button" aria-pressed="true">Add Brand</a>
</body>